.datePickerContainer {
  max-width: 70%;
  margin: 2rem auto 0 auto;
  padding: 0.5rem;
  border: 2px solid var(--main-color-gold);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datePicker {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.cardGrid {
  display: grid;
  grid-template-areas:
    'month month month month month month month'
    'mo tu we th fr sa su'
    'd1 d2 d3 d4 d5 d6 d7'
    'd8 d9 d10 d11 d12 d13 d14'
    'd15 d16 d17 d18 d19 d20 d21'
    'd22 d23 d24 d25 d26 d27 d28'
    'd29 d30 d31 d32 d33 d34 d35'
    'd36 d37 d38 d39 d40 d41 d42';

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, max-content);

  padding: 3rem;
  border: 2px solid var(--main-color-gold);
  border-radius: 3rem;
  width: 100%;
  height: 100%;
}

.displayMonth {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.dayCard {
  margin: 1rem 0;

  text-align: center;
  border-radius: 100%;
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid white;
  transition: all 0.5s;
  cursor: pointer;
}

.dayCard[disabled] {
  background-color: var(--sec-color-grey-light);
  border: 2px solid var(--main-color-gold);
  pointer-events: none;
}

.dayCard:hover {
  border-color: var(--main-color-gold);
}

.dayCard p {
  color: black;
  font-weight: bold;
  pointer-events: none;
}

.dayName {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.changeMonthBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: inherit;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.changeMonthBtn:hover {
  background-color: var(--main-color-gold);
  opacity: 0.9;
}

.cardGridHeader {
  display: flex;

  align-items: center;
  grid-area: month;
  margin-bottom: 2rem;
}

.checkInCheckOut {
  background-color: black;
  border: 2px solid var(--main-color-gold);
}

.checkInCheckOut p {
  color: var(--main-color-gold);
}

.fullDay {
  background-color: var(--main-color-gold);
  border: 2px solid black;
}

.fullDay p {
  color: black;
}
