.modalImageContainer {
  height: calc(100vh - 6rem);
  width: calc((100vw - 6rem));
  overflow-y: scroll;
}

.modalImageContent {
  width: 60%;
  margin: 0 auto;
}

.modalImageCard {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.modalImageCard h3 {
  height: max-content;
  position: sticky;
  top: 0;
}

.modalImageCard img {
  border: 3px solid var(--main-color-gold);
}

.modalImageNav {
  display: flex;
  margin-bottom: 4rem;
}
.modalImageNavCard {
  margin: 0.5rem;
  flex: 1 1 20%;
}

.modalImageNavCard img {
  opacity: 1;
  background-color: black;
  height: 80%;
}

.modalImageNavCard img:hover {
  opacity: 0.9;
}
