.headerSearchContainer {
  width: 100%;
  height: max-content;
  margin: 0 auto;
}
.headerSearch {
  max-width: 60%;
  min-width: max-content;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--sec-color-grey-vlight);
  border-radius: 5rem;
  border: 3px solid var(--main-color-gold);
  margin: 0 auto;
}

.searchBtn {
  border: none;
  transition: all 0.5s;
  background-color: inherit;
  border-radius: 50vh;
  flex-basis: 15%;
  padding: 0;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.searchBtn:hover,
.searchBtn:focus {
  background-color: var(--main-color-gold);
}

.startBtn {
  font-size: 1.5rem;
  font-weight: normal;
  flex-basis: 30%;
  flex-grow: 1;
}

.startBtn__heading {
  font-size: 2rem;
  text-transform: capitalize;
}

.headerSearch button:not(:first-child):not(:last-child) {
  border-left: 2px solid var(--main-color-gold);
}

.submitBtn {
  background-color: var(--main-color-gold);
  justify-self: flex-end;
  height: 80%;
  align-self: center;
  margin-right: 1rem;
}

.submitBtn:disabled {
  background-color: var(--sec-color-grey-light);
  border: 2px solid red;
}

@media (max-width: 975px) {
}

@media (max-width: 600px) {
}
