.main_error {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.main_error h1 {
  width: 100%;
  text-align: center;
}

.main_error a {
  font-size: 3rem;
  background-color: var(--main-color-gold);
  padding: 2rem;
  border-radius: 2rem;
}

.main_error a:visited {
  color: initial;
}
