/* GLOBAL STYLES */

main {
  --grey-border-1px: 1px solid var(--sec-color-grey-light);
}

.main {
  color: black;
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: max-content;
  overflow: hidden;
}

.main ion-icon {
  color: var(--main-color-gold);
  font-size: 2rem;
  margin-right: 0.5rem;
}

.main section {
  margin: 2rem 0;
}

.main p {
  color: black;
}

.main h2 {
  /* font-size: 3rem; */
  margin: 0 0 2rem 0;
}

.main h3 {
  font-size: 2.5rem;
}

.main h4 {
  font-size: 2.2rem;
  font-weight: bold;
}

@media (max-width: 1095px) {
  .main {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .main {
    width: 100%;
  }
}
