/* GLOBAL STYLES */

main {
  --grey-border-1px: 1px solid var(--sec-color-grey-light);
}

.main {
  color: black;
  padding: 2rem;
  width: 60%;
  margin: 0 auto;
}

.main ion-icon {
  color: var(--main-color-gold);
  font-size: 2rem;
  margin-right: 0.5rem;
}

.main section {
  margin: 2rem 0;
}

.main p {
  color: black;
}

.main h2 {
  font-size: 3rem;
  margin: 0 0 2rem 0;
}

.main h3 {
  font-size: 2.5rem;
}

.main h4 {
  font-size: 2.2rem;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.lightText {
  color: var(--sec-color-grey);
}

.dot {
  display: inline-block;
  background-color: var(--sec-color-grey-light);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}

.infoHeadingContainer,
.accommodationFeatures,
.longDescription,
.sleep,
.locationFeatures {
  width: 70%;
  padding: 1rem 0 3rem 0;
  border-bottom: var(--grey-border-1px);
  margin-bottom: 2rem;
}

.showModal {
  text-decoration: underline;
  font-weight: bold;
  color: var(--main-color-gold);
  cursor: pointer;
}

/* HEADING SECTION */

/* IMAGE GRID SECTION */

/* ACCOMMODATION INFORMATION SECTION */

.infoHeadingContainer {
  display: flex;

  align-items: center;
}

.infoHeading ul {
  list-style: none;
  font-size: 1.8rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.infoHeading ul li {
  display: inline-block;
  position: relative;
}

.infoHeading ul li:not(:first-child) {
  margin-left: 1rem;
}

.infoHeading ul li:not(:first-child)::before {
  content: '';
  height: 5px;
  width: 5px;
  position: absolute;
  background-color: var(--sec-color-grey-light);
  top: 45.7%;
  left: -8.3%;
  border-radius: 50%;
}
.infoHeadingLogoContainer {
  margin-left: auto;
}

.infoHeadingLogo {
  height: 100%;
  width: 12rem;
  margin-left: auto;
}

.accommodationFeatures ul {
  list-style: none;
}

.accommodationFeatures ul li div {
  display: flex;
  margin: 1rem 0 0.5rem 0;
}

.accommodationFeatures ul li > p {
  margin-left: 2.5rem;
  color: var(--sec-color-grey);
}
.accommodationFeatures {
  padding: 1rem 0 3rem 0;
  border-bottom: var(--grey-border-1px);
}

.sleep {
  display: flex;
  flex-wrap: wrap;
}

.sleep h2 {
  width: 100%;
}

.sleepCard {
  padding: 2rem;
  border: var(--grey-border-1px);
  border-radius: 1rem;
}

.sleepCard:not(:last-of-type) {
  margin-right: 2rem;
}

.locationFeatures ul {
  list-style: none;
}

.locationFeatures ul li {
  margin-bottom: 1rem;
}

/* REVIEW SECTION */
.sectionReviews,
.sectionMap,
.sectionAboutHosts,
.sectionRules {
  border-bottom: var(--grey-border-1px);
  padding: 2rem 0;
}

.reviewCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.reviewCardHeading {
  display: flex;
  align-items: center;
}

.reviewCardHeading img {
  height: 7rem;
  width: 7rem;
}
.reviewCardHeading__name {
  margin-left: 0.5rem;
}

.reviewCardHeading__name p:last-child {
  font-size: 1.5rem;
}
.reviewCardContent {
  margin: 1rem 0;
}

/* MAP SECTION */

.sectionMap h3 {
  margin: 1rem 0;
  font-weight: bold;
}

.sectionMap p {
  margin: 1rem 0;
}

.mapBoxContainer {
  height: 40rem;
}

/* ABOUT HOST SECTION */
.sectionAboutHost {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aboutHostHeading {
  display: flex;
  justify-content: flex-start;
  grid-column: 1 / span 2;
  margin: 1rem 0;
}

.aboutHostHeading img {
  width: 12rem;
  height: 6rem;
  margin-right: 2rem;
}

.aboutHostHeading h3 {
  font-weight: bold;
}

.aboutHostHeading p {
  color: var(--sec-color-grey);
}

.aboutHostContent {
  grid-column: 1;
  margin: 1rem 0;
}

.aboutHostContent h4 {
  margin-bottom: 1rem;
}

.aboutHostInfo {
  grid-row: 2 / span 2;
  grid-column: 2;
  padding: 0 5rem;
}

.aboutHostInfo ul {
  list-style: none;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.aboutHostInfo li:not(:last-child) {
  margin-bottom: 1rem;
}

.aboutHostInfo button {
  margin-bottom: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  outline: none;

  border: none;
  cursor: pointer;
  background-color: var(--main-color-gold);
}

.aboutHostSecurity {
  width: 70%;
  display: flex;
  align-items: center;
}

.aboutHostSecurity p {
  font-size: 1rem;
}

.aboutHostSecurity ion-icon {
  font-size: 8rem;
}

/* KNOW SECTION */
.knowContentContainer {
  display: flex;
  justify-content: space-between;
}

.knowContent {
  flex-basis: 30%;
  flex-shrink: 0;
  flex-grow: 0;
}

.knowContentCovid {
  display: inline;
}

.knowContent h4 {
  margin-bottom: 1rem;
}

.knowContent > p {
  margin: 1rem 0;
}

.knowContent ul li {
  display: flex;
}

.knowContent ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.ionIconContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 3px;
}
