.exploreNearby {
  width: 90%;
  margin: 0 auto;
}
.exploreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.exploreCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 25%;
  margin: 1rem 0;
}

.exploreCardImg {
  width: 128px;
  height: 128px;
  border-radius: 2rem;
}

.exploreCardContent {
  margin-left: 1rem;
}

.exploreCardHeading {
  text-transform: capitalize;
}

.exploreCardDistance {
  color: var(--sec-color-grey);
}

@media (max-width: 1095px) {
  .exploreCard {
    /* margin: 0 6rem; */
    flex-basis: 50%;
  }
}

@media (max-width: 600px) {
  .exploreContainer {
    flex-wrap: nowrap;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .exploreContainer::-webkit-scrollbar {
    display: none;
  }

  .exploreCard {
    flex-shrink: 0;
  }
}
