.accommodationGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  min-width: 70%;
  max-width: 130rem;

  margin: 5rem auto;
}

.accommodationGrid p {
  color: black;
}

.accommodationHeading {
  grid-column: 1 / span 2;
  margin: 2rem 0;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  grid-column: span 2;
}

@media (max-width: 500px) {
  .accommodationGrid {
    grid-template-columns: 1fr;
  }

  .accommodationHeading {
    grid-column: initial;
    margin-left: 4rem;
  }
}
