.weather {
  width: 90%;
  margin: 0 auto;
}

.weatherContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .weatherContainer {
    flex-wrap: nowrap;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .weatherContainer::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 400px) {
}
