.error {
  background-color: #83181b;
  width: 90%;

  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  color: var(--main-color-white);
  transition: all 2s ease-in-out;
  z-index: 10000;
  height: 10rem;
  position: fixed;
  top: 5rem;
  left: 9.5rem;
  border: 2px solid var(--main-color-gold);
}

@media (max-width: 414px) {
  .error {
    left: 4rem;
  }
}

@media (max-width: 320px) {
  .error {
    left: 3rem;
  }
}
