.headerSmall {
  background-color: var(--main-color-black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.logo {
  width: 15rem;
  margin-right: 16rem;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1510px) {
  /* .headerSmall {
    flex-wrap: wrap;
    justify-content: center;
  } */

  .logo {
    margin-right: 4rem;
  }
}

@media (max-width: 1400px) {
  .headerSmall {
    flex-wrap: wrap;
    justify-content: center;
  }

  .loginContainer {
    margin: 2rem 0;
  }
}

@media (max-width: 1070px) {
  .logo {
    margin: 2rem 4rem 2rem 0;
  }
}
