.header {
  min-height: 80vh;
  background-color: var(--main-color-black);
  background-image: url('../../assets/img/caravan.jpg');
  background-repeat: no-repeat;
  background-size: 80% 60%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
  /* justify-content: flex-end; */
}

.heading {
  /* display: flex; */
  /* align-self: flex-end; */
  margin-top: 50rem;
  color: var(--main-color-white);
  /* -webkit-text-stroke: 2px var(--main-color-gold); */
  font-size: 4rem;
}

.btnPopUp {
  width: 50%;
  height: 6rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--main-color-gold);
  display: none;
}

.btnClose {
  border-radius: 50rem;
  background-color: red;
  width: 10rem;
  height: 10rem;
  border: 2px solid var(--main-color-black);
  position: fixed;
  left: 76%;
  top: 8%;
  z-index: 2000;
}

@media (max-width: 600px) {
  .header {
    min-height: 40vh;
  }

  .btnPopUp {
    display: inline;
  }
}

@media (max-width: 390px) {
  .header {
    min-height: 50vh;
    background-size: 80% 50%;
  }
}
