.exploreNearbyContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: max-content;
  width: 70%;
  margin: 5rem auto;
}

.exploreNearbyContent img {
  border-radius: 2rem;
}

.heading,
.paraMain,
.hero,
.paraSubL,
.paraSubR {
  grid-column: 1;
  margin: 2rem 0;
}

.heading,
.heading p,
.paraSubL p,
.paraSubR p {
  color: var(--main-color-black);
}

.heading p {
  margin: 2rem 0;
}

.paraSubL,
.paraSubR {
  align-self: center;
}

.paraHeading {
  margin-bottom: 10rem;
}

.subImg {
  width: 25rem;
  height: 25rem;
  border-radius: 50% !important;
  shape-outside: circle(50%);
  margin: 1rem;
}

.subImgL {
  float: left;
}

.subImgR {
  float: right;
}

/* MUST SEE STYLE */

.mustSeeCardContainer {
  grid-column: 2;
  grid-row: 2 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mustSeeHeading,
.mustSeeContent {
  margin: 2rem 0 2rem 4rem;
}

.mustSeeHeading {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  text-decoration: underline;
}

.mustSeeContent {
  background-color: var(--main-color-black);
  border-radius: 2rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mustSeeContent h5 {
  margin: 1rem auto;
  width: max-content;
  color: var(--main-color-gold);
  border: var(--b-2-gold);
  padding: 0.5rem;
}

.mustSeeImg {
  width: 90%;
  margin: 1rem auto;
  /* margin-right: 2rem; */
  display: block;
}

.mustSeeTop,
.mustSeeMid,
.mustSeeBtm {
  grid-column: 2;
  /* color: hotpink; */
}

/* .mustSeeTop {
  grid-row: 2;
}

.mustSeeMid {
  grid-row: 3;
}

.mustSeeBtm {
  grid-row: 4;
} */

@media (max-width: 480px) {
  .mustSeeHeading {
    grid-column: 1;
    grid-row: 5;
    justify-self: start;
    align-self: end;
    text-decoration: underline;
  }

  /* .mustSeeTop,
  .mustSeeMid,
  .mustSeeBtm {
    display: none;
  } */

  .mustSeeCardContainer {
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 1;
    grid-row: 6;
    flex-wrap: nowrap;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .mustSeeCardContainer::-webkit-scrollbar {
    display: none;
  }

  .mustSeeContent {
    min-width: 30rem;
  }
} ;
