.btnDelete {
  background-color: red;
  border: 2px solid black;
  border-radius: 50%;
  height: 3rem;
  margin: 0 0.5rem 0 auto;
  width: 3rem;
  text-align: center;

  z-index: 1;
  padding: 0;
}

.btnDelete:hover {
  border: 2px solid red;
  background-color: black;
  color: red;
}
