.headingSecondary {
  grid-row: 2;
}

.placeGrid {
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, max-content);
  background-color: var(--main-color-black);
  gap: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}

.placeHeading {
  grid-row: 1;
  grid-column: 1 / span 5;
  color: var(--main-color-gold);
}

.placeHeading p {
  color: var(--main-color-gold);
}

.imgBig,
.imgMed {
  grid-row: 2;
}

.imgBig1 {
  grid-column: 1 / span 2;
}

.imgBig2 {
  grid-column: 4 / span 2;
}

.imgMed1 {
  grid-column: 3;
  align-self: center;
}

.imgSml {
  grid-row: 3;
}

.summaryCard {
  grid-row: 3;
  grid-column: 2;
  margin-left: 2rem;
  color: var(--main-color-white);
  background-color: var(--main-color-black);
  height: 60%;
  border-radius: 2rem;
  align-self: center;
  padding: 2rem;
}

.summaryHeading,
.summarySubHeading {
  margin: 2rem 0;
}

.summaryBtn {
  display: block;
  margin: 2rem auto 0 auto;
  height: 8rem;
  width: 16rem;
  background-color: var(--main-color-black);
  border: 2px solid var(--main-color-gold);
  transition: all 0.2s;
  color: var(--main-color-gold);
  border-radius: 3rem;
}

.summaryBtn:hover {
  background-color: var(--main-color-gold);
  border: 2px solid var(--main-color-black);
  color: var(--main-color-black);
}
