.main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  min-height: 70vh;
  flex-direction: column;
}

.bookingInfo {
  width: 80%;
  margin: 0 auto;
  background-color: var(--main-color-black);
  list-style: none;
  color: var(--main-color-white);
  font-size: 3rem;
  padding: 5rem;
  border-radius: 3rem;
}

.submitBtn {
  background-color: var(--main-color-gold);
  width: 16rem;
  min-width: max-content;
  padding: 3rem;
  border-radius: 3rem;
  font-size: 2rem;
  margin: 3rem auto;
  border: none;
}

.submitBtn,
.submitBtn:visited {
  color: var(--main-color-black);
}

.backdropBtnContainer {
  display: flex;
  justify-content: space-evenly;
}

.date {
  margin-top: 2rem;
}

.dateCheckin {
  margin-right: 3rem;
}

.dateCheckout {
  margin-right: 2.3rem;
}

@media (max-width: 905px) {
  .main {
    width: 80%;
  }
  .mainHeading {
    font-size: 4.5rem;
  }
  .secHeading {
    font-size: 3.5rem;
  }
}

@media (max-width: 460px) {
  .main {
    width: 90%;
  }

  .bookingInfo {
    font-size: 2rem;
    padding: 4rem 2rem;
  }
}
