.weatherNull {
  height: 50rem;
  width: 25%;
  background-color: hotpink;
  margin: 1rem;
}

.weatherCard {
  display: grid;
  grid-template-areas:
    'day day'
    'img temp'
    'chanceRain description'
    'windspeed sunrise';
  grid-template-rows: 2fr repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  flex: 0 0 40rem;
  margin: 1rem;
  background-color: var(--main-color-black);
  color: var(--main-color-white);
  border-radius: 2rem;
  padding: 1rem 3rem;
}

.weatherCardError {
  display: flex;
  min-height: 20rem;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-black);
  border-radius: 2rem;
}

.error {
  width: 80%;
  text-align: center;
  color: red;
}
.weatherCard ion-icon {
  font-size: 3rem;
}

.day {
  grid-area: day;
  border-bottom: var(--b-2-gold);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherImg {
  grid-area: img;
  border-bottom: var(--b-2-gold);
  border-right: var(--b-2-gold);
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature {
  grid-area: temp;
  border-bottom: var(--b-2-gold);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 2fr repeat(2, 1fr);
  justify-items: center;
}

.temperature h4 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.temperature ion-icon:first-of-type {
  grid-row: 2;
  grid-column: 1;
  vertical-align: baseline;
}

.temperature ion-icon:last-of-type {
  grid-row: 3;
  grid-column: 1;
}

.temperatureHiLo {
  width: 100%;
}

.temperatureHiLoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperatureHiLoContainer p {
  width: 30%;
  text-align: center;
}

.temperatureHiLoContainer ion-icon {
  font-size: 1.8rem;
}

.chanceRain {
  grid-area: chanceRain;
  border-right: var(--b-2-gold);

  border-bottom: var(--b-2-gold);
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  grid-area: description;
  border-bottom: var(--b-2-gold);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.windSpeed {
  grid-area: windspeed;
  border-right: var(--b-2-gold);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sunrise {
  grid-area: sunrise;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  padding: 1rem;
}

.sunTime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.sunTime ion-icon {
  margin-right: 1rem;
}

.sunrise ion-icon:first-of-type {
  grid-column: 1;
  grid-row: 1;
  /* background-color: hotpink; */
}

.sunrise ion-icon:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2;
}

.sunrise ion-icon:last-of-type {
  grid-column: 1;
  grid-row: 3;
}

.sunrise p:first-of-type {
  grid-column: 2;
  grid-row: 1;
}

.sunrise p:last-of-type {
  grid-column: 2;
  grid-row: 3;
}

.sunTime h5 {
  width: 80%;
}

.temperature ion-icon,
.sunrise ion-icon {
  margin: auto;
}

/* @media (max-width: 1540px) {
  .weatherCard {
    flex-basis: 45%;
    flex-shrink: 0;
  }
}

@media (max-width: 1180px) {
  .weatherCard {
    flex-basis: 45%;
    flex-shrink: 0;
  }
} */

@media (max-width: 790px) {
  .weatherCard {
    flex-basis: 50rem;
    font-size: 2rem;
  }

  .weatherCard p {
    font-size: 3rem;
  }
}

/* @media (max-width: 600px) {
  .weatherCard {
    flex-basis: 40rem;
  }
} */

@media (max-width: 500px) {
  .weatherCard {
    flex-basis: 40rem;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 400px) {
  .weatherCard {
    height: 60rem;
  }
}
