.descriptionContent {
}

.descriptionContent div {
  margin: 2rem 0;
}

.descriptionContent h3 {
  margin-bottom: 1.5rem;
}

.descriptionContent p {
  border-radius: 10px;
  border-left: 3px solid var(--main-color-black);
  padding: 1rem;
}
