/* CSS RESET */
/* https://alligator.io/css/minimal-css-reset/ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;

  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  /* overflow: hidden; */
}

/* ol, ul {
    list-style: none;
  } */

img {
  max-width: 100%;
  height: auto;
}

/* END OF CSS RESET */

body {
  height: 100%;
}

.App {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-size: 1.8rem;
}

button:focus {
  outline: 2px solid var(--main-color-gold);
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  margin: 5rem 0 3rem 0;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
}

h6 {
  font-size: 1.8rem;
}

label {
  color: var(--main-color-white);
}

p {
  font-size: 1.8rem;
  color: var(--main-color-white);
}

[data-boldFont] {
  font-weight: bold;
}

@media (max-width: 975px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 790px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 35%;
  }
}
