/* CSS RESET */
/* https://alligator.io/css/minimal-css-reset/ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ol, ul {
    list-style: none;
  } */

img {
  max-width: 100%;
  height: auto;
}

/* END OF CSS RESET */

body {
  height: 100%;
}

.App {
  height: 100%;
}

a {
  text-decoration: none;
}

a:active,
a:visited {
  color: var(--main-color-white);
  text-decoration: none;
}

button {
  font-size: 1.8rem;
}

button:focus {
  outline: 2px solid var(--main-color-gold);
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  margin: 5rem 0 3rem 0;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
}

label {
  color: var(--main-color-white);
}

p {
  font-size: 1.8rem;
  color: var(--main-color-white);
}

h1 {
  font-size: 3.5rem;
  color: var(--main-color-white);
}
