.layoutGrid {
  min-height: 100vh;
  display: grid;
  width: 100%;
  grid-auto-rows: max-content;
  grid-template-columns: 100%;
}

.contentGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: max-content;
  width: 70%;
  margin: 5rem auto;
}
