.login {
  width: 70%;
  height: 70vh;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  background-color: var(--main-color-black);
  width: 50%;
  padding: 5rem;
  border-radius: 2rem;
  border: 5px solid var(--main-color-gold);
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: max-content;
  font-size: 2rem;
}

.loginForm input,
.loginForm label {
  margin: 1rem auto;
}

.loginBtn {
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--main-color-gold);
  color: var(--main-color-black) !important;
  font-size: 2rem;
  margin: 2rem auto;
}
