.exploreWorld {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.exploreWorldContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.exploreWorldCard {
  width: 30%;
  position: relative;
}

.exploreWorldHero {
  border-radius: 2rem;
}

.exploreWorldFlag {
  position: absolute;
  width: 20%;
  left: 6%;
  top: 4%;
}
