.exploreWorld {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.exploreWorldContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.exploreWorldCard {
  flex-basis: 30%;
  position: relative;
}

.exploreWorldHero {
  border-radius: 2rem;
}

.exploreWorldFlag {
  position: absolute;
  width: 20%;
  left: 6%;
  top: 4%;
}

@media (max-width: 600px) {
  .exploreWorldCard {
    flex-shrink: 0;
    flex-basis: 50rem;
    margin-right: 5rem;
  }

  .exploreWorldContainer {
    flex-wrap: nowrap;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .exploreWorldContainer::-webkit-scrollbar {
    display: none;
  }
}
