.showMoreModal {
  height: max-content;
  max-height: 70rem;
  overflow: hidden;
  overflow-y: auto;
}

.showMoreModal ul {
  list-style: none;
  width: 100%;
  flex-grow: 0;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border-left: 3px solid var(--main-color-black);
}

.showMoreModal ion-icon {
  color: var(--main-color-black);
}

.showMoreModal li {
  display: flex;
  margin-bottom: 1rem;
}

.showMoreModal h2 {
  margin: 2rem 0;
}

.showMoreModal h3 {
  font-weight: bold;
  margin-bottom: 2rem;
  border-radius: 50px;
}

.ionIconContainer {
  margin-top: 0.3rem;
}
