.showMoreModal ul {
  list-style: none;
  width: 100%;
  flex-grow: 0;
}

.showMoreModal ion-icon {
  color: var(--main-color-black);
  /* width: max-content; */
}

.showMoreModal li {
  display: flex;
  margin-bottom: 1rem;
}

.showMoreModal h2 {
  margin: 2rem 0;
}

.showMoreModal h3 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.ionIconContainer {
  margin-top: 0.3rem;
}
