.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 15rem;
  flex: 0 1 auto;
  margin-left: 3rem;
  margin-right: 14%;
}

.navBtnContainer {
  /* margin-left: 14rem; */
  margin: 0 auto;
}

.navBtn {
  /* position: relative; */
  padding: 0.5rem;
  margin: 1rem;
  color: var(--main-color-white);
  background-color: var(--main-color-black);
  outline: 0px solid var(--main-color-gold);
  border: none;
  transition: outline 0.2s ease-in;
  cursor: pointer;
}

.navBtn:hover {
  outline: 2px solid var(--main-color-gold);
}

.navBtn:focus {
  cursor: default;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  /* margin-left: auto; */
}

.loginManage {
  margin-right: 2rem;
}

@media (max-width: 1095px) {
  .navBtnContainer {
    /* margin: 0 3rem; */
  }
}

@media (max-width: 1015px) {
  .navBtnContainer {
    /* margin: 0 1rem; */
  }
}

@media (max-width: 860px) {
  .navigation {
    width: 100%;
  }

  .logo {
    /* margin: 0; */
  }
}

@media (max-width: 600px) {
  .loginManage {
    display: none;
  }
  .logo {
    margin-right: 0;
    margin-left: 3rem;
  }
}

@media (max-width: 390px) {
  .navBtnContainer {
    display: flex;
    flex-direction: column;
  }
}
