.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* height: 5rem; */
  width: 15rem;
  flex: 0 1 auto;
  margin-left: 5rem;
}

.navBtnContainer {
  margin-left: 14rem;
}

.navBtn {
  position: relative;
  padding: 0.5rem;
  margin: 1rem;
  color: var(--main-color-white);
  background-color: var(--main-color-black);
  outline: 0px solid var(--main-color-gold);
  border: none;
  transition: outline 0.2s ease-in;
  cursor: pointer;
}

/* .navBtn::after {
  content: '';
  width: 1rem;
  height: 50%;
  border-bottom: 2px solid hotpink;
  position: absolute;
  top: 75%;
  left: 43%;
} */

.navBtn:hover {
  outline: 2px solid var(--main-color-gold);
}

.navBtn:focus {
  cursor: default;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.loginBtn {
  width: 8rem;
  height: 4rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color-white);
  padding: 1rem;
}

.loginBtn ion-icon {
  font-size: 4rem;
  color: var(--main-color-gold);
}
