.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* height: 5rem; */
  width: 15rem;
  flex: 0 1 auto;
  margin-left: 5rem;
}

.navBtnContainer {
  margin-left: 14rem;
}

.navBtn {
  position: relative;
  padding: 0.5rem;
  margin: 1rem;
  color: var(--main-color-white);
  background-color: var(--main-color-black);
  outline: 0px solid var(--main-color-gold);
  border: none;
  transition: outline 0.2s ease-in;
  cursor: pointer;
}

/* .navBtn::after {
  content: '';
  width: 1rem;
  height: 50%;
  border-bottom: 2px solid hotpink;
  position: absolute;
  top: 75%;
  left: 43%;
} */

.navBtn:hover {
  outline: 2px solid var(--main-color-gold);
}

.navBtn:focus {
  cursor: default;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.loginManage {
  margin-right: 2rem;
}

@media (max-width: 1095px) {
  .navBtnContainer {
    margin: 0 3rem;
  }
}

@media (max-width: 1015px) {
  .navBtnContainer {
    margin: 0 1rem;
  }
}

@media (max-width: 860px) {
  .navigation {
    width: 100%;
  }

  .logo {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .loginManage {
    display: none;
  }
}

@media (max-width: 390px) {
  .navBtnContainer {
    display: flex;
    flex-direction: column;
  }
}
