/* .test {
} */

.webLink,
.webLink:visited {
  color: var(--main-color-gold);
  font-size: 1.6rem;
}
.sidebarCard h6 {
  color: var(--main-color-white);
}

.sidebarCardImg {
  width: 15rem;
  height: 10rem;
}

.sidebarCard {
  width: 80%;
  flex-wrap: wrap;
  border: var(--b-2-gold);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  margin: 0.5rem;
}

@media (max-width: 1375px) {
  .sidebarCardImg {
    width: 12rem;
    height: 7rem;
  }
}
