.left,
.right {
  grid-column: 1;
  margin: 2rem 0;
}

.left p,
.right p {
  color: var(--main-color-black);
}

.left,
.right {
  align-self: center;
}

.paraHeading {
  margin-bottom: 10rem;
}

.subImg {
  width: 25rem;
  height: 25rem;
  border-radius: 50% !important;
  shape-outside: circle(50%);
  margin: 1rem;
}

.imgLeft {
  float: left;
}

.imgRight {
  float: right;
}
