.leftCardContainer,
.rightCardContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: black;
  gap: 1rem;
  padding: 1rem;

  /* width: 50%; */
}

.displayMonth {
  grid-column: 1 / span 7;
  color: hotpink;
  justify-self: center;
}

.rightCardContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: greenyellow;
  /* width: 50%; */
}

.dayCard {
  /* background-color: hotpink; */
  width: 1fr;
  display: inline-block;
  color: black !important;
  background-color: blueviolet;
}

.dayCard p {
  color: black;
}

.datePicker {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
}
