.headerSearchContainer {
  width: 100%;
  height: max-content;
  margin: 0 auto;
}
.headerSearch {
  min-width: 60rem;
  max-width: max-content;
  /* height: 8rem; */
  display: flex;
  justify-content: space-between;
  background-color: var(--sec-color-grey-vlight);
  border-radius: 5rem;
  border: 3px solid var(--main-color-gold);
  margin: 0 auto;
  position: relative;
  padding: 0.5rem;
}

.searchBtn {
  border: none;
  transition: all 0.5s;
  background-color: inherit;
  border-radius: 50vh;

  color: black;
  font-size: 1.5rem;
  /* text-align: center; */
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  min-width: max-content;
}

.searchBtn button {
  position: absolute;
  top: 85%;
}

.searchBtn > span {
  margin: 0 auto;
}
.searchBtn:focus,
.searchBtn:hover {
  background-color: var(--main-color-gold);
}

.startBtn {
  font-size: 1.5rem;
  font-weight: normal;
  flex-basis: 30%;
  flex-grow: 1;
  position: relative;
}

.startBtn button {
  position: absolute;
  top: 90%;
}

.startBtn > div {
  margin: 0 auto;
}

.startBtn__heading {
  font-size: 2rem;
  text-transform: capitalize;
}

.headerSearch > div:not(:first-of-type) {
  border-left: 2px solid var(--main-color-gold);
}

.headerSearch > div:last-of-type {
  border-right: 2px solid var(--main-color-gold);
  /* background-color: hotpink; */
}

.submitBtn {
  background-color: var(--main-color-gold);
  justify-self: flex-end;
  height: 80%;
  align-self: center;
  margin-right: 1rem;
}

.submitBtn:disabled {
  background-color: var(--sec-color-grey-light);
  border: 2px solid red;
}

/* @media (max-width: 1300px) {
  .headerSearch {
    max-width: 80%;
  }
}*/
@media (max-width: 420px) {
  .headerSearch {
    min-width: 50rem;
  }
  .searchBtn {
    padding: 1.5rem;
  }

  .headerSearch {
    border: 2px solid var(--main-color-gold);
    padding: 0.5rem;
  }

  .headerSearch > div:not(:first-of-type) {
    border-left: 1px solid var(--main-color-gold);
  }

  .headerSearch > div:last-of-type {
    border-right: 1px solid var(--main-color-gold);
  }
}

@media (max-width: 390px) {
  .headerSearch {
    min-width: 50rem;
  }
  .searchBtn {
    padding: 1rem;
  }
}

@media (max-width: 340px) {
  .headerSearch {
    min-width: 50rem;
  }
  .searchBtn {
    padding: 1rem 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  .startBtn__heading {
    font-size: 1.5rem;
    /* text-transform: capitalize; */
  }
}
