.headerSearchAccommodation {
  width: 40%;
  border-radius: 3rem;
  border: 2px solid var(--main-color-gold);
  margin: 2rem auto;
}

.locationHeading {
  width: 90%;
  margin: 1rem auto;
  padding: 2rem 0;
  border-bottom: 2px solid var(--main-color-gold);
}

.locationHeading h6 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
}

.accommodationCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accommodationCard {
  display: flex;
  border: 2px solid var(--main-color-gold);
  width: 70%;
  margin: 1rem 0;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
  text-transform: capitalize;
  cursor: pointer;
}

.accommodationCard:hover {
  background-color: var(--sec-color-grey-vlight);
}

.accommodationCard p {
  color: black;
  font-weight: bold;
}

.accommodationCard > * {
  pointer-events: none;
}

.cardImg {
  height: 8rem;
  width: 8rem;
  border-radius: 1rem;
}
